<div class="registration-form">
<h3 class="registration-heading">No Scrubs Sign Up</h3>

  <%= form_for(@user) do |f| %>
    <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
    </p>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    </p>
    <p>
    <%= f.submit "Submit" %>
    </p>
  <% end %>
</div>

<div id="director_clap">
    <%= image_tag("director_clap.png") %>
</div>
