<div class="column">
  <h3><%= @movie.title %></h3>
  <% if @movie.tag_line != "" %>
    <h3><i>"<%= @movie.tag_line %>"</i></h3>
  <% end %>
  <img class="show-poster" src="<%= @movie.poster_url%>">
  <% if @ratings.blank? %>
    <p>This movie hasn't been rated yet. Rate it below!</p>
  <% else %>
    <p>Rating:<%= @movie.total_rating %> </p>
  <% end %>
</div>

<div class="column">
  <% if @movie.reviews.blank? %>
    <p>No reviews just yet, add one below!</p>
  <% else %>
    <% @movie.reviews.each do |review| %>
      <p><%= review.content %></p>
      <%= link_to "Comments", review_comments_path(review) %>
    <% end %>
  <% end %>
</div>

<div class="column">
  <div class="review-form-container">
    <h3>Produce a Review</h3>
    <%= render "reviews/new"%>
  </div>
</div>

<div class="clear-fix">

</div>
