<div id="grid">
  <div id="show-poster-column">
    <h3 class="movie-title-header"><%= @movie.title %></h3>
    <% if @movie.tag_line != "" %>
      <h3><i>"<%= @movie.tag_line %>"</i></h3>
    <% end %>
    <img class="show-poster" src="<%= @movie.poster_url%>">
    <% if @ratings.blank? %>
      <p>This movie hasn't been rated yet. Rate it below!</p>
    <% else %>
      <p>Rating:<%= @movie.total_rating %> </p>
    <% end %>
  </div>

  <div id="show-review-column">
    <div class="overlay">
      <% if @movie.reviews.blank? %>
        <p>No reviews just yet, add one below!</p>
      <% else %>
        <% @movie.reviews.each do |review| %>
          <p><%= review.content %></p>
          <%= link_to "Comments", review_comments_path(review) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if logged_in? %>
    <div id="show-form-column">
      <% if @movie.reviewers.include?(current_user) %>
        <h3>"Thanks for reviewing this movie!"</h3>
      <% else %>
        <h3>Produce a Review</h3>
        <%= render "reviews/new"%>
      <% end %>
    </div>
  <% end %>
</div>
