<!DOCTYPE html>
<html>
  <head>
    <title>No Scrubs Movie Reviews Entertainment Productions</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'All Movies', root_path %>
    <%= render partial: "application/nav" %>
    <div class="login-container"></div>

    <h1>No Scrub Movie Review</h1>
    <h2>Entertainment Productions</h2>

    <%= yield %>
  <footer class="footer">
    Couldn't happen without our boy, <span>Vince</span>
  </footer>
  </body>
</html>
